<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <title>Flunky-Map</title>
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }

    .mapboxgl-popup {
    max-width: 200px;
    }

    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }

    form {
    width: 400px; /* or any other value */
    height: 700px; /* or any other value */
    padding: 20px;
    overflow: auto;
    background-color: orange;
    border: 1px solid gray;
    border-radius: 20px; /* Set the border radius to 10px */
    }

    label {
    margin-bottom: 10px;
    }

    input[type="text"], input[type="number"] {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid gray;
    }

    input[type="select"] {
      padding: 10px;
      margin-bottom: 20px;
    }


    input[type="submit"] {
    background-color: blue;
    color: rgb(255, 197, 111);
    padding: 10px 20px;
    border: none;
    }
  </style>
</head>
<body>

  <div id='map'></div>

  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibG5pZW1pIiwiYSI6ImNsZDc5amdsczA1cGozcm84c25xeGcyejkifQ.z9H43WLo3Xb6z6iGTedp0A';
    const map = new mapboxgl.Map({
      container: 'map', // Specify the container ID
      style: 'mapbox://styles/lniemi/cldcdrjqd000l01nmanxwhojf', // Specify which map style to use
      zoom: 11,
      center: [24.948, 60.182], // Specify the starting position [lng, lat]
    });

    var marker = new mapboxgl.Marker();

    function add_marker (event) {
    var coordinates = event.lngLat;
    console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat);
    marker.setLngLat(coordinates).addTo(map);
    }

    map.on('click', add_marker);



    map.on('click', function(e) {
  // Remove any existing forms
  var existingForm = document.getElementById('form');
  if (existingForm) {
    existingForm.remove();
  }

  var lngLat = e.lngLat;
  var lng = lngLat.lng;
  var lat = lngLat.lat;

  // UUSi
  map.flyTo({
    offset: [0, -window.innerHeight * -0.40], // shift the center 25% up from the bottom of the page
    center: [lng, lat],
    essential: true // this animation is considered essential with respect to prefers-reduced-motion
  });

 

  // Create a form with hidden fields for the lng and lat values
  var form = document.createElement('form');
  form.id = "form";
  form.style.height = "70vh"; // set the height to 90% of the viewport height
  form.style.overflow = "auto"; // set overflow to auto to enable scrolling
  form.innerHTML = 
                  '<div>' +
                  '<label>Coordinates:<br></label>' +
                  '<input type="text" name="coordinates" value="' + lat + ', ' + lng + '" readonly>' +
                  '</div>' +
                  '<input type="hidden" name="lng" value="' + lng + '">' +
                  '<input type="hidden" name="lat" value="' + lat + '">' +
                  '<input type="hidden" name="username" value="' + (sessionStorage.getItem('username') || '') + '">' +
                  '<div>' +
                  '<label>Place Name:<br></label>' +
                  '<input type="text" name="place_name">' +
                  '</div>' +
                  '<label>1. Space: How big is the area and is there enough space to set up the playing ground?</label>' +
                  '<div>' +
                  '<select name="space">' +
                    '<option value="0">0 - Not Enough Space</option>' +
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>' +
                    '<option value="3">3</option>' +
                    '<option value="4">4</option>' +
                    '<option value="5">5 - Enough Space</option>' +
                    '<option value="6">6</option>' +
                    '<option value="7">7</option>' +
                    '<option value="8">8</option>' +
                    '<option value="9">9</option>' +
                    '<option value="10">10 - Lots of Space</option>' +
                  '</select>' +
                  '</div>' +
                  '<label><br>2. Ground Type:<br></label>' +
                  '<select name="ground_type">' +
                    '<option value="grass">Grass Or Artificial Turf</option>' +
                    '<option value="asphaltetc">Asphalt Or Concrete (etc.)</option>' +
                    '<option value="gravel">Gravel Or Sand</option>' +
                    '<option value="indoor">Indoor Surfaces</option>' +
                    '<option value="other">Other</option>' +
                  '</select>' +
                  '</div>' +
                  '<div>' +
                  '<label><br>3. Surroundings: How much do obstacles (e.g. trees, rocks, constuction structures) or hazards (e.g. uneven ground) impact the area?</label>' +
                  '</div>' +
                  '<div>' +
                  '<select name="surroundings">' +
                    '<option value="0">0 - No Obstacles/Hazards</option>' +
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>' +
                    '<option value="3">3</option>' +
                    '<option value="4">4</option>' +
                    '<option value="5">5 - Some Obstacles/Hazards</option>' +
                    '<option value="6">6</option>' +
                    '<option value="7">7</option>' +
                    '<option value="8">8</option>' +
                    '<option value="9">9</option>' +
                    '<option value="10">10 - Lots of Obstacles/Hazards</option>' +
                  '</select>' +
                  '</div>' +
                  '<div>' +
                  '<label><br>4. Crowds: Is the area busy and are there many people around?</label>' +
                  '</div>' +
                  '<select name="crowds">' +
                   '<option value="0">0 - No people around</option>' +
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>' +
                    '<option value="3">3</option>' +
                    '<option value="4">4</option>' +
                    '<option value="5">5 - Some people around</option>' +
                    '<option value="6">6</option>' +
                    '<option value="7">7</option>' +
                    '<option value="8">8</option>' +
                    '<option value="9">9</option>' +
                    '<option value="10">10 - Lots of people around</option>' +
                  '</select>' +
                  '<div>' +
                  '<label><br>5. Lighting: Is the location well-lit, especially in the evening?</label>' +
                  '</div>' +
                  '<select name="light">' +
                    '<option value="0">0 - Very poor lighting</option>' +
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>' +
                    '<option value="3">3</option>' +
                    '<option value="4">4</option>' +
                    '<option value="5">5 - Somewhat good lighting</option>' +
                    '<option value="6">6</option>' +
                    '<option value="7">7</option>' +
                    '<option value="8">8</option>' +
                    '<option value="9">9</option>' +
                    '<option value="10">10 - Excellent lighting</option>' +
                  '</select>' +
                  '<div>' +
                  '<label><br>6. Are there restrooms nearby? (Yes/No/Do not know)</label>' +
                  '<div>' +
                  '<select name="restrooms">' +
                    '<option value="Yes">Yes</option>' +
                    '<option value="No">No</option>' +
                    '<option value="NoInfo">Do not know</option>' +
                  '</select>' +
                  '</div>' +
                  '<div>' +
                  '<label for="image">Upload Image (optional):<br></label>' +
                  '<input type="file" name="image" id="image">' +
                  '<input type="submit" value="Submit">'; +
                  '</div>'


  // add a read-only text field to display the coordinates
//  var coordField = document.createElement("input");
//  coordField.type = "text";
//  coordField.value = lng + ", " + lat;
//  coordField.readOnly = true;
//  coordField.style.fontStyle = "italic";
//  form.insertBefore(coordField, form.firstChild);
  //
  // Add the form to the page and position it in the middle of the screen
  document.body.appendChild(form);
  form.style.position = 'absolute';
  form.style.left = '50%';
  form.style.transform = 'translateX(-50%)';




  // create a function to set the form width based on the screen size
  function setFormWidth() {
    var screenWidth = window.innerWidth;
    var formWidth = screenWidth > 480 ? "480px" : "90%"; // set the form width to 480px on screens wider than 480px, and to 90% of the screen width otherwise
    form.style.width = formWidth;
  }

  function positionForm() {
    var screenHeight = window.innerHeight;
    var formHeight = form.offsetHeight;
    var topOffset = (screenHeight - formHeight) / 4;
    form.style.top = topOffset + "px";
    form.style.overflow = "auto";
  }

  positionForm();

  // call the function once to set the initial form width
  setFormWidth();

  // add an event listener to the window to set the form width whenever the screen size changes
  window.addEventListener("resize", setFormWidth);

  // create a close button
  var closeButton = document.createElement("button");
  closeButton.innerHTML = "X";
  closeButton.style.position = "absolute";
  closeButton.style.top = "5px";
  closeButton.style.right = "5px";
  closeButton.addEventListener("click", function() {
    document.body.removeChild(form);
  });

// add the close button to the form
form.appendChild(closeButton);

  //Handle the form submission
  form.addEventListener("submit", function(event){
    event.preventDefault();
    // send the form data to the server
    // handle form validation and display any error messages
    // store the data in the postgresql database
    var formData = new FormData(form);
    fetch('/save-form-data1', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (response.ok) {
          window.location.replace("/thankyou");
        } else {
            throw new Error("Network response was not ok.");
        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });

  });


});
  </script>

</body>
</html> 
